.bg-white {
  background-color: #ffffff;
}

.section-margin {
  margin: 1%;
}

.map-container {
  position: relative;
  height: 400px;
}

.quake-map {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}